In [2]:
import numpy as np
import pandas as pd

In [3]:
b_pandas = []
r_dtypes = {"review_id": str, 
            "user_id": np.float16, 
            "business_id": np.float16, 
            "stars": np.float16, 
            "date": str, 
            "text": str,
            "useful": np.int32, 
            "funny": np.int32,
            "cool": np.int32
           }
with open("/Users/jeremyyeung/Downloads/yelp_dataset/yelp_academic_dataset_review.json", "r") as f:
    reader = pd.read_json(f, orient="records", lines=True, 
                          dtype=r_dtypes, chunksize=1000)
        
    for chunk in reader:
        reduced_chunk = chunk.query("`date` >= '2017-12-01'")
        b_pandas.append(reduced_chunk)
    
b_pandas = pd.concat(b_pandas, ignore_index=True)

In [4]:
b_pandas.shape

(2845251, 9)

In [5]:
b_pandas.to_csv('reviews.csv', index=False)

In [16]:
# compression_opts = dict(method='zip',
#                         archive_name='reviews.csv')  
# b_pandas.to_csv('reviews.zip', index=False,
#           compression=compression_opts)

In [41]:

b_pandas.iloc[range(20000), :].to_csv('20k_reviews.csv', index=False)

In [4]:
b_pandas = []
r_dtypes = {"business_id": np.str,
            "name": np.str, 
            "address": np.str, 
            "city": np.str, 
            "state": np.str, 
            "postal code": np.str, 
            "latitude": np.float16, 
            "longitude": np.float16, 
            "stars": np.float16, 
            "review_count": np.int32,
            "is_open": np.int32,
            "attributes": dict,
            "categories": np.ndarray
           }
with open("/Users/jeremyyeung/Downloads/yelp_dataset/yelp_academic_dataset_business.json", "r") as f:
    reader = pd.read_json(f, orient="records", lines=True, 
                          dtype=r_dtypes, chunksize=1000)
        
    for chunk in reader:
        reduced_chunk = chunk.drop(columns=['latitude', 'longitude', 'address', 'city', 'state'])
        b_pandas.append(reduced_chunk)
    
b_pandas = pd.concat(b_pandas, ignore_index=True)
# compression_opts = dict(method='zip',
#                         archive_name='business.csv')  
# b_pandas.to_csv('business.csv', index=False)
#           compression=compression_opts)

In [6]:
type(b_pandas.attributes[0])

dict

In [7]:
b_pandas.attributes[0].keys()

dict_keys(['RestaurantsTableService', 'WiFi', 'BikeParking', 'BusinessParking', 'BusinessAcceptsCreditCards', 'RestaurantsReservations', 'WheelchairAccessible', 'Caters', 'OutdoorSeating', 'RestaurantsGoodForGroups', 'HappyHour', 'BusinessAcceptsBitcoin', 'RestaurantsPriceRange2', 'Ambience', 'HasTV', 'Alcohol', 'GoodForMeal', 'DogsAllowed', 'RestaurantsTakeOut', 'NoiseLevel', 'RestaurantsAttire', 'RestaurantsDelivery'])

In [7]:
## get half of the business csv
b_pandas.iloc[range(b_pandas.shape[0]//2), :].to_excel('half_business.xlsx', index=False)

In [9]:
test = pd.read_excel('half_business.xlsx', index_col=0)
test.head()

,name,postal_code,stars,review_count,is_open,attributes,categories,hours
business_id,,,,,,,,
6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,80302,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': ""u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,97218,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
bvN78flM8NLprQ1a1y5dRg,The Reclaimory,97214,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Antiques, Fashion, Used, Vintage & Consignment...","{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0..."
oaepsyvc0J17qwi8cfrOWg,Great Clips,32763,3.0,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Hair Salons",NaN
PE9uqAjdw0E4-8mjGl3wVA,Crossfit Terminus,30316,4.0,14,1,"{'GoodForKids': 'False', 'BusinessParking': ""{...","Gyms, Active Life, Interval Training Gyms, Fit...","{'Monday': '16:0-19:0', 'Tuesday': '16:0-19:0'..."

In [10]:
test.attributes[0]

'{\'RestaurantsTableService\': \'True\', \'WiFi\': "u\'free\'", \'BikeParking\': \'True\', \'BusinessParking\': "{\'garage\': False, \'street\': True, \'validated\': False, \'lot\': False, \'valet\': False}", \'BusinessAcceptsCreditCards\': \'True\', \'RestaurantsReservations\': \'False\', \'WheelchairAccessible\': \'True\', \'Caters\': \'True\', \'OutdoorSeating\': \'True\', \'RestaurantsGoodForGroups\': \'True\', \'HappyHour\': \'True\', \'BusinessAcceptsBitcoin\': \'False\', \'RestaurantsPriceRange2\': \'2\', \'Ambience\': "{\'touristy\': False, \'hipster\': False, \'romantic\': False, \'divey\': False, \'intimate\': False, \'trendy\': False, \'upscale\': False, \'classy\': False, \'casual\': True}", \'HasTV\': \'True\', \'Alcohol\': "\'beer_and_wine\'", \'GoodForMeal\': "{\'dessert\': False, \'latenight\': False, \'lunch\': False, \'dinner\': False, \'brunch\': False, \'breakfast\': False}", \'DogsAllowed\': \'False\', \'RestaurantsTakeOut\': \'True\', \'NoiseLevel\': "u\'average\'", \'RestaurantsAttire\': "\'casual\'", \'RestaurantsDelivery\': \'None\'}'